<aside class="layout-column-aside">
	{{> login}}


	<div class="widget recent-events" id="cb-recent-events-2">
		<p class="title-s title-widget">Upcoming Events</p>
		<ul class="cb-posts cb-events cb-events-widget">
			<li class="cb-post cb-event">

				<div class="post-cover">

					<div class="post-cover-wrapper">

						<span class="event-date">25</span>
						<span class="event-month">Nov</span>

					</div><!-- .post-cover-wrapper -->

				</div><!-- .post-cover -->

				<div class="post-content">
					<h2 class="title-ms title-post"><a href="https://demo.cbthemes.com/foundation/event/phasellus-viverra-nulla-ut-metus/"
						 title="Permalink to Phasellus viverra nulla ut metus">Phasellus viverra nulla ut metus</a></h2>
					<p class="post-excerpt">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
						imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede...</p>
				</div><!-- .post-excerpt -->

				<div class="cleaner">&nbsp;</div>

			</li><!-- .cb-post .cb-event -->


			<li class="cb-post cb-event">

				<div class="post-cover">

					<div class="post-cover-wrapper">

						<span class="event-date">31</span>
						<span class="event-month">Dec</span>

					</div><!-- .post-cover-wrapper -->

				</div><!-- .post-cover -->

				<div class="post-content">
					<h2 class="title-ms title-post"><a href="https://demo.cbthemzes.com/foundation/event/sed-ut-perspiciatis-unde-omnis-iste/"
						 title="Permalink to Sed ut perspiciatis unde omnis iste">Sed ut perspiciatis unde omnis iste</a></h2>
					<p class="post-excerpt">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
						totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi...</p>
				</div><!-- .post-excerpt -->
				<!-- .cb-posts -->
				<div class="cleaner">&nbsp;

				</div>
			</li>
		</ul>
	</div>

	<div class="widget cb-call-to-action" id="cb-widget-call2action-3">

		<div class="cb-call2action cb-call2action-list" style="background-color: #6da67a;">
			<span class="call2action-span cb-call2action-main">Apply today!</span>
			<span class="call2action-span cb-call2action-secondary">0-800-123456 or <a href="mailto:apply@user.com">apply@user.com</a></span>
			</div><!-- .cb-call2action .cb-call2action-list -->

		<div class="cleaner">&nbsp;</div>

	</div>
	<div class="widget cb-call-to-action" id="cb-widget-call2action-4">
		<div class="cb-call2action cb-call2action-list" style="background-color: #4a4857;">
			<span class="call2action-span cb-call2action-main">Available Courses</span> <span class="call2action-span cb-call2action-secondary">Find
				out more about <a href="/courses">our courses</a></span> </div><!-- .cb-call2action .cb-call2action-list -->


		<div class="cleaner">&nbsp;</div>



		<div class="cleaner">&nbsp;</div>
	</div>
</aside>