<div class="widget recent-posts" id="cb-recent-posts-2">

	<p class="title-s title-widget">Recent Posts</p>
	<ul class="cb-posts cb-posts cb-posts-widget">
		<li class="cb-post">

			<div class="post-cover">
				<div class="post-cover-wrapper"><a href="https://demo.cbthemes.com/foundation/vero-eos-et-accusamus-et-iusto-odio/" title="At vero eos et accusamus et iusto odio"><img
						 src="https://demo.cbthemes.com/foundation/wp-content/uploads/sites/6/2013/12/timelapse-video-100x60.jpg" alt="At vero eos et accusamus et iusto odio"
						 class="Thumbnail thumbnail thumb-loop-small " width="100" height="60"></a></div><!-- .post-cover-wrapper -->
			</div><!-- .post-cover -->
			<div class="post-content">
				<h2 class="title-ms title-post"><a href="https://demo.cbthemes.com/foundation/vero-eos-et-accusamus-et-iusto-odio/" title="Permalink to At vero eos et accusamus et iusto odio">At
						vero eos et accusamus et iusto odio</a></h2>
				<p class="post-meta"><time datetime="2013-12-27" pubdate="">December 27, 2013</time> <span class="category"></span></p>
				<p class="post-excerpt">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
					ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit...</p>
			</div><!-- .post-content -->

			<div class="cleaner">&nbsp;</div>

		</li><!-- .cb-post -->

		<li class="cb-post">

			<div class="post-cover">
				<div class="post-cover-wrapper"><a href="https://placehold.it/500x300" title="Quis nostrum exercitationem ullam corporis">

						<img src="https://placehold.it/500x500" alt="Quis nostrum exercitationem ullam corporis" class="Thumbnail thumbnail thumb-loop-small "
						 width="100" height="60"></a></div><!-- .post-cover-wrapper -->
			</div><!-- .post-cover -->
			<div class="post-content">
				<h2 class="title-ms title-post"><a href="https://demo.cbthemes.com/foundation/quis-nostrum-exercitationem-ullam-corporis/"
					 title="Permalink to Quis nostrum exercitationem ullam corporis">Quis nostrum exercitationem ullam corporis</a></h2>
				<p class="post-meta"><time datetime="2013-12-27" pubdate="">December 27, 2013</time> <span class="category"></span></p>
				<p class="post-excerpt">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
					magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro...</p>
			</div><!-- .post-content -->

			<div class="cleaner">&nbsp;</div>

		</li><!-- .cb-post -->
	</ul><!-- .cb-posts -->
	<div class="cleaner">&nbsp;</div>

</div>