<div id="content">
	
	<div class="wrapper-content-main">
	
		<div id="main" class="layout-column-main">
		
			
<p class="title-s title-widget">Featured Posts</p>

{{> featuredPosts}}
<script type="text/javascript">
jQuery(document).ready(function() {
	
	jQuery("#cb-slideshow").flexslider({
        selector: ".cb-slides > .cb-slide",
		animationLoop: true,
        initDelay: 1000,
		smoothHeight: false,
				slideshow: true,
		slideshowSpeed: 5000,
				pauseOnAction: true,
        controlNav: true,
        directionNav: false,
		useCSS: true,
		touch: false,
        animationSpeed: 500
    });	 
});
</script>

			{{> blogPosts}}
       
		
		
		<div class="widget cb-special-posts" id="cb-featured-posts-2"><p class="title-s title-widget">Latest Video</p><ul class="cb-featured-posts">
			<li class="cb-featured-post featured-post-video">
			
				<div class="post-cover">
					</iframe><iframe width="510" height="300" src="https://www.youtube.com/embed/q7Cnqolwj-Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div><!-- .post-cover -->				
				<div class="post-content">
				<h2 class="title-l title-post"><a href="https://case.edu/about/"
								 title="Amazon Lockers give students more delivery options" target="_blank">At Case Western Reserve University, we think beyond the possible.</a></h2>
							<p class="post-excerpt">In research labs and lecture halls, we spend each and every day asking—and discovering—
								how to solve the biggest issues of today and tomorrow. From stopping cancer in its tracks to reversing symptoms of Alzheimer's disease, 
								from preventing school violence to understanding how businesses work, groundbreaking research takes place daily on our campus.</p>

								
				</div><!-- .post-content -->
			
			</li><!-- .cb-featured-post .featured-post-video -->

			</ul><!-- .cb-featured-posts -->		
		<div class="cleaner">&nbsp;</div></div>			
		</div><!-- #main .layout-column-main -->
		
		<aside class="layout-column-aside">
            {{> login}}
			<div class="widget recent-events" id="cb-recent-events-2">
				<p class="title-s title-widget">Upcoming Events</p>
				<ul class="cb-posts cb-events cb-events-widget">
					<li class="cb-post cb-event">

						<div class="post-cover">

							<div class="post-cover-wrapper">

								<span class="event-date">24</span>
								<span class="event-month">Aug</span>

							</div><!-- .post-cover-wrapper -->

						</div><!-- .post-cover -->

						<div class="post-content">
							<h2 class="title-ms title-post"><a href="https://case.edu/events/university-events-calendar/"
								 title="Lunch series" target="_blank">University Circle Out to Lunch series</a></h2>
								<a href="https://www.google.com/maps?hl=zh-CN&q=Toby%27s+Plaza,+11440+Uptown+Ave,+Cleveland,+OH+44106,+USA" target="_blank">Map</a>
							<p class="post-excerpt">University Circle Inc. will host live music and talks on Fridays this summer, starting June
								15, from 11 a.m to 2 p.m. at Toby’s Plaza.</p>
						</div><!-- .post-excerpt -->

						<div class="cleaner">&nbsp;</div>

					</li><!-- .cb-post .cb-event -->


					<li class="cb-post cb-event">

						<div class="post-cover">

							<div class="post-cover-wrapper">

								<span class="event-date">29</span>
								<span class="event-month">Aug</span>

							</div><!-- .post-cover-wrapper -->

						</div><!-- .post-cover -->

						<div class="post-content">
							<h2 class="title-ms title-post"><a href="https://case.edu/events/university-events-calendar/"
								 title="Fall convocation" target="_blank">Fall convocation</a></h2>
								<a href="https://www.google.com/maps?hl=zh-CN&q=Severance+Hall,+11001+Euclid+Ave,+Cleveland,+OH+44106,+USA" target="_blank">Map</a>
							<p class="post-excerpt">Fall convocation is the formal celebration that opens each new academic year at Case Western
								Reserve University. The 2018 event will take place Wednesday, Aug. 29, at 4:45 p.m. in Severance Hall. The ceremony
								will include a keynote address from the Sarah Kay, this year’s Elaine G. Hadden Distinguished Visiting Author.</p>
						</div><!-- .post-excerpt -->


				<div class="cleaner">&nbsp;</div>
				
			</li><!-- .cb-post .cb-event -->

			
			
				<div class="cleaner">&nbsp;</div>
				
			</li><!-- .cb-post .cb-event -->

			</ul><!-- .cb-posts --><div class="cleaner">&nbsp;</div></div><div class="widget cb-call-to-action" id="cb-widget-call2action-3">
		<div class="cb-call2action cb-call2action-list" style="background-color: #6da67a;">
			<span class="call2action-span cb-call2action-main">Apply today!</span>			<span class="call2action-span cb-call2action-secondary">0-800-123456 or <a href="mailto:apply@user.com">apply@user.com</a></span>		</div><!-- .cb-call2action .cb-call2action-list -->

		<div class="cleaner">&nbsp;</div></div><div class="widget cb-call-to-action" id="cb-widget-call2action-4">
		<div class="cb-call2action cb-call2action-list" style="background-color: #4a4857;">
			<span class="call2action-span cb-call2action-main">Available Courses</span>			<span class="call2action-span cb-call2action-secondary">Find out more about <a href="/about">our courses</a></span>		</div><!-- .cb-call2action .cb-call2action-list -->

		<div class="cleaner">&nbsp;</div></div>			
			<div class="cleaner">&nbsp;</div>

		</aside><!-- .layout-column-aside -->

		<div class="cleaner">&nbsp;</div>
	
	</div><!-- .wrapper-content-main -->


			
			<div class="wrapper-footer-main">
			
				<footer class="site-footer">
				
					<div id="footer-main">
					
						<div class="wrapper-footer">
						
							<div class="layout-column-main cb-column-1">
							
								<div class="widget widget_text" id="text-2"><p class="title-widget">Text Widget</p>			<div class="textwidget"><p>Foundation Theme has 2 additional widget-ready areas in the Footer.</p>
<p>You can choose to disable this block and not display any widgets.</p>
<p>Here you can add any widget you like, for user a widget containing your contact details, a map, custom menus, etc.</p>
</div>
		<div class="cleaner">&nbsp;</div></div>								
								<div class="cleaner">&nbsp;</div>
							
							</div><!-- .cb-column .cb-column-1 -->
				
							<div class="layout-column-aside cb-column-2">
							
								<div class="widget widget_nav_menu" id="nav_menu-2"><p class="title-widget">Quick Link</p><div class="menu-secondary-container"><ul id="menu-secondary" class="menu"><li id="menu-item-303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="https://demo.cbthemes.com/foundation/admissions/">Admissions</a></li>
<li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298"><a href="/alumni">Current Alumni</a></li>
<li id="menu-item-299" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-299"><a href="/future-students">Future Students</a></li>
<li id="menu-item-300" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-300"><a href="/current-students">Current Students</a></li>
</ul></div><div class="cleaner">&nbsp;</div></div>								
								<div class="cleaner">&nbsp;</div>
							
							</div><!-- .cb-column .cb-column-2 -->
						
							<div class="cleaner">&nbsp;</div>
						
						</div><!-- .wrapper .wrapper-footer -->
					
					</div><!-- #footer-main -->
			
				</footer><!-- .site-footer -->
				
			</div><!-- .wrapper-footer-main -->
			
				
		</div>