<div id="cb-slideshow" class="flexslider">
	
	<ul class="cb-slides">
		
				
		<li class="cb-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
			
			<div class="post-cover">
				<a href="https://demo.cbthemes.com/foundation/consequatur-aut-perferendis-doloribus/">
                <img src="https://placehold.it/500x350" alt="Consequatur aut perferendis doloribus" class="Thumbnail thumbnail thumb-cb-slideshow " width="510" height="300" draggable="false"></a>
			</div><!-- .post-cover -->
			
			<div class="post-content">
				<div class="post-content-wrapper">
					<h2 class="title-m title-post"><a href="/featured-post">User of a Featured Post</a></h2>
					<p class="post-excerpt">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi...</p>
				</div><!-- .post-content-wrapper -->
			</div><!-- .post-content -->
			
		</li><!-- .slide -->
				
		<li class="cb-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
			
			<div class="post-cover">
				<a href="https://demo.cbthemes.com/foundation/vero-eos-et-accusamus-et-iusto-odio-dignissimos/"><img src="https://demo.cbthemes.com/foundation/wp-content/uploads/sites/6/2013/10/photodune-2545842-after-school-m-510x300.jpg" alt="At vero eos et accusamus et iusto odio dignissimos" class="Thumbnail thumbnail thumb-cb-slideshow " width="510" height="300" draggable="false"></a>
			</div><!-- .post-cover -->
			
			<div class="post-content">
				<div class="post-content-wrapper">
					<h2 class="title-m title-post"><a href="https://demo.cbthemes.com/foundation/vero-eos-et-accusamus-et-iusto-odio-dignissimos/">At vero eos et accusamus et iusto odio dignissimos</a></h2>
					<p class="post-excerpt">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati...</p>
				</div><!-- .post-content-wrapper -->
			</div><!-- .post-content -->
			
		</li><!-- .slide -->
				
		<li class="cb-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
			
			<div class="post-cover">
				<a href="/featured-post">
                <img src="https://placehold.it/500x300" alt="Neque porro quisquam est" class="Thumbnail thumbnail thumb-cb-slideshow " width="510" height="300" draggable="false"></a>
			</div><!-- .post-cover -->
			
			<div class="post-content">
				<div class="post-content-wrapper">
					<h2 class="title-m title-post"><a href="https://demo.cbthemes.com/foundation/neque-porro-quisquam-est/">Neque porro quisquam est</a></h2>
					<p class="post-excerpt">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et...</p>
				</div><!-- .post-content-wrapper -->
			</div><!-- .post-content -->
			
		</li><!-- .slide -->
				
		<li class="cb-slide flex-active-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
			
			<div class="post-cover">
				<a href="/featured-post"><img src="https://placehold.it/500x300" alt="Nemo enim ipsam voluptatem quia voluptas" class="Thumbnail thumbnail thumb-cb-slideshow " width="510" height="300" draggable="false"></a>
			</div><!-- .post-cover -->
			
			<div class="post-content">
				<div class="post-content-wrapper">
					<h2 class="title-m title-post"><a href="/featured-post">Nemo enim ipsam voluptatem quia voluptas</a></h2>
					<p class="post-excerpt">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro...</p>
				</div><!-- .post-content-wrapper -->
			</div><!-- .post-content -->
			
		</li><!-- .slide -->
				
	</ul><!-- .cb-slides -->
	
	<div class="cleaner">&nbsp;</div>
	
<ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="">3</a></li><li><a href="#" class="flex-active">4</a></li></ol></div><!-- #cb-slideshow -->
