			<div class="wrapper-footer-main">
			
				<footer class="site-footer">
				
					<div id="footer-main">
					
						<div class="wrapper-footer">
						
							<div class="layout-column-main cb-column-1">
							
								<div class="widget widget_text" id="text-2"><p class="title-widget">Text Widget</p>			<div class="textwidget"><p>Foundation Theme has 2 additional widget-ready areas in the Footer.</p>
<p>You can choose to disable this block and not display any widgets.</p>
<p>Here you can add any widget you like, for user a widget containing your contact details, a map, custom menus, etc.</p>
</div>
		<div class="cleaner">&nbsp;</div></div>								
								<div class="cleaner">&nbsp;</div>
							
							</div><!-- .cb-column .cb-column-1 -->
				
							<div class="layout-column-aside cb-column-2">
							
								<div class="widget widget_nav_menu" id="nav_menu-2"><p class="title-widget">Menu Widget</p><div class="menu-secondary-container"><ul id="menu-secondary" class="menu"><li id="menu-item-303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="https://demo.cbthemes.com/foundation/admissions/">Admissions</a></li>
<li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298"><a href="https://demo.cbthemes.com/foundation/current-alumni/">Current Alumni</a></li>
<li id="menu-item-299" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-299"><a href="https://demo.cbthemes.com/foundation/future-students/">Future Students</a></li>
<li id="menu-item-300" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-300"><a href="https://demo.cbthemes.com/foundation/current-students/">Current Students</a></li>
</ul></div>							
								
							
							</div>
						
						
						
						</div><!-- .wrapper .wrapper-footer -->
					
					</div><!-- #footer-main -->
			
				</footer><!-- .site-footer -->
				
			</div><!-- .wrapper-footer-main -->