<header role="banner" class="site-header">
		
			<div id="logo" itemscope="" itemtype="http://schema.org/Organization">
				<meta itemprop="name" content="Foundation Theme Demo">
								<a itemprop="url" href="/" title=""><h1 style="font-size: 1.5rem;">classhub</h1></a>
			</div><!-- #logo -->

			<div class="wrapper-header">
			
				<div class="wrapper-menu">
	
					<nav id="site-navigation" role="navigation">

	<div class="wrapper-header">

		<div class="wrapper-menu">

		
	<nav id="site-navigation" role="navigation">

      <ul id="menu-main-menu" class="dropdown sf-js-enabled">
        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home"><a href="/">Home</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="/about"
           class="sf-with-ul">about<span class="sf-sub-indicator"></span></a>
        
        </li>
        
        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/students">Students</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/resources">resources</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="/class-events"
           class="sf-with-ul">Events<span class="sf-sub-indicator"></span></a>
          
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/code-snippets">code snippets</a></li>
      
      <div class="cleaner">&nbsp;</div>

    </nav><!-- #site-navigation -->



			<div class="cleaner">&nbsp;</div>

		</div><!-- .wrapper-menu -->

		<div class="widget cb-contacts" id="cb-widget-contacts-2">
			<p class="title-s title-widget">Contact Us</p>
			<ul class="cb-contacts">
			cell: 000-111-2222
			email: ace@case.edu
			fax: 000-222-1111
			

			</ul>

				<div class="cleaner">&nbsp;</div>
		</div>
		<div id="footer-copy">

			<div class="wrapper-footer-copy">



				<div class="cleaner">&nbsp;</div>

			</div><!-- .wrapper .wrapper-footer-copy -->

		</div><!-- #footer-copy -->

	</div><!-- .wrapper-header -->
</header>