<div class="container">
    <div class="form-wrap">
        <form action="">
            <h3 class="form-heading">Profile</h3>

            <div class="form-section">

                <div class="input-wrap">
                    <label for="fname">First Name:</label>
                    <input type="text" placeholder="First Name" required>
                </div>
                <div class="input-wrap">
                    <label for="lname">Last Name:</label>
                    <input type="text" placeholder="Last Name" name="lname" required>
                </div>

                <div class="input-wrap">
                    <label for="user_twitter">Twitter Handle:</label>
                    <input type="text" placeholder="@twitterHandle" name="user_twitter">
                </div>

                <div class="input-wrap">
                    <label for="user_linkedin">Linkedin Profile</label>
                    <input type="text" name="user_linkedin" placeholder="www.linkedin/yourname">
                </div>

                <div class="input-wrap">
                    <label for="user_github">Github Profile:</label>
                    <input type="text" name="user_github" placeholder="https://github.com/yourProfile">
                </div>

                <div class="input-wrap">
                    <label for="user_website">User Website</label>
                    <input type="text" name="user_website" placeholder="https://yourwebsite.com">
                </div>

                <div class="input-wrap input-submit">
                    <input type="sumit" value="Update Profile">
                </div>

            </div>


        </form>

    </div>
</div>