/// 

#content {
	display: inline;
	float: left;
	width: 76.9230%;
}

.layout-column-main {
	display: inline;
	float: left;
	margin-right: 3.5714%;
	width: 60.7142%;
}


.layout-column-aside {
	display: inline;
	float: left;
	width: 35.7142%;
}


.layout-column-full {
	margin-right: 0;
	width: 100%;
}

.wrapper-content-main {
	padding: 30px 30px;
}


.wrapper-content-main {
	padding-bottom: 20px;
}
